<div class="container">
  <div class="button-row">
    <button class="primary" [routerLink]="['/chamado']">Voltar</button>
  </div>
  <form action="submit">
    <div class="form-group">
      <label for="name">Nome</label><br>
      <input type="text" class="form-control" id="nome" required>
    </div>

    <div class="form-group">
      <label for="descricao">Descrição</label><br>
      <input type="text" class="form-control" id="descricao" required>
    </div>

    <div class="form-group">
      <label for="situacao">Situação</label><br>
      <input type="text" class="form-control" id=situacao required>
    </div>

    <div class="form-group">
      <label for="atendente">Atendente</label><br>
      <input type="text" class="form-control" id="atendente" required>
    </div>
  </form>

  <div class="button-row">
    <button class="primary">Salvar</button>
  </div>
</div>