.container {
    display:block;
    width: 90%;
    height: 100hv;
    position: relative;
    .form {
        width: 40%;
        margin: auto;
        
    }
    .chatbot {
        display: block;
        width: 100%;
        height: 100%;
    }
}