.button-row {
    text-align: left;
    margin: 3%;
    .primary {
      background-color: #00b4a0;
      color: white;
      border-radius: 30%;
      min-width: 50px;
      min-height: 30px;
      font-size: 25px;
    }
  }
  .container {
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 14px;
    display: inline;
    color: grey;
    .form-group {
      padding-left: 5%;
      width: 95%;
      text-align: left;
      display: block;
      margin-top: 5px;
      .form-control{
          width: inherit;
          border-top: none;
          border-right: none;
          border-left: none;
          border: 0px 0px 1px 0px;
          border-bottom-color: #00b4a0;
      }
    }
  }
  