<div class="button-row">
  <button class="primary" [routerLink]="['/chamado-create']">+</button>
  <button class="primary" [routerLink]="['/']">Atualizar</button>
</div>
<div class="container">
  <table class="table">
    <tr class="table-row">
      <th class="line-title">Nome</th>
      <th class="line-title">Descrição</th>
      <th class="line-title">Situação</th>
    </tr>
    <tr *ngFor="let chamado of chamados" class="table-row" [routerLink]="['/chamado-details', chamado._id]">
      <td class="line">{{ chamado.nome }}</td>
      <td class="line">{{ chamado.descricao }}</td>
      <td class="line">{{ chamado.situacao }}</td>
    </tr>
  </table>
</div>